{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send E-mail</title>
    <link rel="stylesheet" href="{% static 'mailer/styles.css' %}">
</head>
<body>
    <h1>Send Email</h1>
    <form method="post">
        {% csrf_token %}
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <br>
        <label for="recipient">Recipient:</label>
        <input type="email" id="recipient" name="recipient" required>
        <br>
        <label for="cc">CC (comma-separated):</label>
        <input type="text" id="cc" name="cc">
        <br>
        <label for="bcc">BCC (comma-separated):</label>
        <input type="text" id="bcc" name="bcc">
        <br>
        <button type="submit">Send Email</button>
    </form>
    
    
</body>
</html>
